.header {
  font-size: 55px;
}

.bold600 {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.email,
.message {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 20px;
}

.email input {
  width: 620px;
  height: 30px;
}

input {
  border: 2px solid rgba(255, 255, 255, 0.329);
  background-color: #101010;
  border-radius: 5px;
}

.send {
  margin-top: 30px;
  font-family: "Instrument Sans", sans-serif;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.message textarea {
  resize: none;
  width: 620px;
  height: 150px;

  border: 2px solid rgba(255, 255, 255, 0.329);
  background-color: #101010;
  border-radius: 5px;
}

.headerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

textarea:focus {
  border: 2px solid #c5c5c5;
  outline: none;
}

input:focus {
  border: 2px solid #c5c5c5;
  outline: none;
}
