body {
  background-color: #101010;
  font-family: "Instrument Sans", sans-serif;
}

/* TOP SECTION */

.section1 {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.headersText {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  gap: 60px;
  width: 100%; /* Take full width */
  max-width: 1200px; /* Optional: limit max width */
}

.bold600 {
  font-weight: 600;
  display: inline; /* Ensures span doesn't break the line */
}

.Hi {
  font-weight: 400;
  font-size: 75px;
  margin: 0;
  padding: 0;
  white-space: nowrap; /* Prevents text from wrapping */
}

.facts {
  font-size: 25px;
  font-weight: 400;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
}

.links {
  position: absolute; /* Position links absolutely */
  top: 80px; /* Distance from top */
  left: 80px; /* Distance from left */
  display: flex;
  gap: 10px; /* Space between links */
  z-index: 10; /* Ensure links are above other content */
}
.githubLink,
.linkedLink {
  width: 50px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.githubLink:hover,
.linkedLink:hover {
  transition: all 0.3s ease;
  transform: translateY(-2px);
}

/* Text Reveal Animation */
.introBlock,
.detailsBlock {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal {
  opacity: 1;
  transform: translateY(0);
}

/* Entire blocks will animate together, including spans */
.introBlock,
.detailsBlock,
.introBlock .bold600,
.detailsBlock .bold600 {
  transition: all 0.8s ease;
}

/* NAVIGATION HEADER */
.navigation {
  position: absolute;
  top: 80px;
  right: 80px;
  display: flex;
  gap: 40px;
  z-index: 10;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 5px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link:hover {
  transform: translateY(-2px);
}
